body {
	background-color: navajowhite;
}

main {
  display: flex;
	justify-content: center;
  padding-top: 40%;
}

#gamebox {
	display: flex;
	justify-content: center;
	align-items: flex-start;
  height: 200px;
  flex-direction: row;
  height: 200px;
}

 .btn {
  background-color: #5A4D41; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  align-self: center;
}

  #rock {
  align-self: center;
  margin-bottom: 50%;
}




.gamecontent {
	display: flex;
}