body {
	background-color: navajowhite;
}

main {

}

h1 {
  margin-left: 33%;
}

#game-grid {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end] 1fr;
  grid-template-rows: [row-start] 1fr [row-end] 1fr;
}




/* Scoreboard and messages elements */

#messagebox {
  background-color: blanchedalmond;
  padding: 0.5rem 1rem; /*Hopefully this will make the 
  box resize as the messages come in*/
  border-radius: 5px;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

#scoreboard {
  background-color: blanchedalmond;
  padding: 15px 15px;
  border-radius: 5px;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.tally {
  color: white;
  background-color: black;
  border-radius: 5px;
}


/* Computer elements */
.computer {
  background-color: black;
  border-radius: 5px;
  color: red;
}



#computerBody{
  display: grid;
  grid-gap: 5%;
  grid-template-rows: [row-start] 1fr [row-2] 1fr [row-end] 1fr;
  grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end] 1fr;
}

.display{
  background-color: black;
  justify-self: center;
  justify-items: center;
  color: red;
  width:  64px;
  height: 64px;
}

.emojiWrapper{text-align: center;}

#hat{


  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
#face{


  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
#lHand{


  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
#rHand{


  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}




/* Buttons conntainers */
#gamebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 5%;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

}

#gamebox>*:first-child {
  align-self: flex-start;
}

#gamebox>*:nth-child(2) {
  align-self: flex-end;
}

#gamebox>*:last-child {
  align-self: flex-start;
}

 .btn {
  background-color: #7F7C7B;
  width:  64px;
  height: 64px;
}