body {
	background-color: navajowhite;
}

main {
  display: flex;
	justify-content: center;
  padding-top: 40%;
}

#gamebox {
	display: flex;
	justify-content: center;
	align-items: flex-start;
  height: 200px;
  flex-direction: row;
  height: 200px;
}

#messagebox {

  

}

 .btn {
  background-color: #7F7C7B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border: 6px solid black, 6px solid grey;
  border-radius: 5px;

  align-self: center;
}

/*.double-border {
  border: 6px solid white;
  border-radius: 5px;
}*/

  #rock {

  margin-bottom: 80%;
}




.gamecontent {
	display: flex;
}