body {
	background-color: navajowhite;
}

main {
  display: flex;
	justify-content: space-between;
  flex-direction: column;
}

#gamebox {
	display: flex;
	justify-content: center;
	align-items: flex-start;
  flex-direction: row;
  margin-top: 20%;
}

/*#gamebox :nth-child(1) {order:  1}
#gamebox :nth-child(2) {order:  2}
#gamebox :nth-child(3) {order:  3}
#gamebox :nth-child(4) {order:  4}
#gamebox :nth-child(5) {order:  5}*/


#infobox {
  display: flex;
  justify-content:  space-between;
  padding-bottom: 10%;
}


 .btn {
  background-color: #7F7C7B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border: 6px solid black, 6px solid grey;
  border-radius: 5px;

  align-self: center;
}

/*.double-border {
  border: 6px solid white;
  border-radius: 5px;
}*/

  #rock {
  margin-bottom: 20%;
}




.gamecontent {
	display: flex;
}

#messagebox {
  background-color: blanchedalmond;
  padding: 0.5rem 1rem; /*Hopefully this will make the 
  box resize as the messages come in*/
  border-radius: 5px;
  align-self: center;
}

#scoreboard {
  background-color: blanchedalmond;
  padding: 15px 15px;
  border-radius: 5px;
  align-self: center;
}

#computerbox {
  background-color: black;
  border-radius: 5px;
  padding: 15px 32px;
  position: fixed;
  margin-bottom: 80%;
  margin-right: 50%;
}

p#computertext {
  color: red;
}

.tally {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}